<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Weather Report</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Weather Report</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- First Container -->
<section id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h1 class="margin">Get Directions</h1>
                <form method="post" class="pull-right" style="color: black">
                    <input name="search" type="text" placeholder="Origin"/>
                    <input name="search" type="text" placeholder="Destination"/>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-sm-9">
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <!--<iframe
                height="400px"
                width="100%"
                frameborder="0"
                style="border:0"
                th:src="@{${url}}">
        </iframe>
        !-->
    </div>
</section>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>Made By <a href="https://github.com/ctam91/">Tammy Chang</a></p>
</footer>

<script th:inline="javascript" src="js/script.js"></script>
<script th:inline="javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHQa-P3QPyuUibRfPncSVNswbiYjD7ua0&amp;callback=initMap" th:async="async" th:defer="defer"></script>


</body>
</html>
